Repository Constructor-io/constructorio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pylint, pytest

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: pipenv run isort

pylint:
  name: pylint
  stages:
  - push
  language: system
  entry: pipenv run pylint

pytest:
  name: pytest
  stages:
  - push
  language: system
  entry: pipenv run pytest
  pass_filenames: false

lint
  tests/modules/test_autocomplete.py
Due: isort, pylint, pytest

[NO-CSL] Fix Autocomplete Tests due to a schema change (#64)
  tests/modules/test_autocomplete.py
Due: isort, pylint, pytest

add support for filtering by section
  constructor_io/modules/autocomplete.py
Due: isort, pylint, pytest

add tests
  tests/modules/test_autocomplete.py
Due: isort, pylint, pytest

lint
  constructor_io/modules/autocomplete.py
  tests/modules/test_autocomplete.py
Due: isort, pylint, pytest

update docs
  docs/1.7.10/_static/_sphinx_javascript_frameworks_compat.js
  docs/1.7.10/_static/jquery.js
  docs/1.7.10/_static/pygments.css
  docs/1.7.10/constructor_io.html
  docs/1.7.10/constructor_io.modules.html
  docs/1.7.10/genindex.html
  docs/1.7.10/index.html
  docs/1.7.10/modules.html
  docs/1.7.10/py-modindex.html
  docs/1.7.10/search.html
  docs/1.7.10/searchindex.js
Due: none

lint
  constructor_io/modules/autocomplete.py
Due: isort, pylint, pytest

Revert "update docs"
  docs/1.7.10/_static/_sphinx_javascript_frameworks_compat.js
  docs/1.7.10/_static/jquery.js
  docs/1.7.10/_static/pygments.css
  docs/1.7.10/constructor_io.html
  docs/1.7.10/constructor_io.modules.html
  docs/1.7.10/genindex.html
  docs/1.7.10/index.html
  docs/1.7.10/modules.html
  docs/1.7.10/py-modindex.html
  docs/1.7.10/search.html
  docs/1.7.10/searchindex.js
Due: none

[CSL 2268] Add support for filtering by sections (#65)
  constructor_io/modules/autocomplete.py
  tests/modules/test_autocomplete.py
Due: isort, pylint, pytest

Add Dependabot alert action
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

[CI-3704] Add Dependabot alert action (#73)
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Update dependencies
  Pipfile
  Pipfile.lock
Due: none

Update dependencies (#74)
  Pipfile
  Pipfile.lock
Due: none

Use Github Token
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Use the app to get token
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Update secrets to variables
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Update code
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Use official action
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Typo
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Remove linebreak
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Remove name
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Update time
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Update quiz_version_id tests
  tests/modules/test_quizzes.py
Due: isort, pylint, pytest

Update failing test
  tests/modules/test_browse.py
Due: isort, pylint, pytest

Update Slack webhook
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

[NO-CI] Use Github token for Slack action (#75)
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

[CI-3263] Update quiz_version_id tests (#76)
  tests/modules/test_browse.py
  tests/modules/test_quizzes.py
Due: isort, pylint, pytest

Use shared workflow
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Change path
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Update business entity name
  LICENSE
  setup.py
Due: isort, pytest

Update CodeQL version
  .github/workflows/codeql.yml
Due: none

Update workflow
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Path conditions:
  isort: any of: \.py$
  pylint: any of: \.py$, but not: setup.py
  pytest: any of: \.py$
