Repository Constructor-io/constructorio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pylint, pytest

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: pipenv run isort
    types: [python]

  - id: pylint
    name: pylint
    stages: [push]
    language: system
    entry: pipenv run pylint
    types: [python]
    exclude: setup.py

  - id: pytest
    name: pytest
    stages: [push]
    language: system
    entry: pipenv run pytest
    types: [python]
    pass_filenames: false

Update CodeQL version (#79)
  .github/workflows/codeql.yml
Due: none

[CI-3792] Add Dependabot check (#77)
  .github/workflows/dependabot-alerts-to-slack.yml
Due: none

Update legacy documentation links to point to correct URLs
  constructor_io/modules/autocomplete.py
  constructor_io/modules/browse.py
  constructor_io/modules/catalog.py
  constructor_io/modules/quizzes.py
  constructor_io/modules/recommendations.py
  constructor_io/modules/search.py
Due: isort, pylint, pytest

Update business entity name (#78)
  LICENSE
  setup.py
Due: isort, pytest

Update legacy documentation links to point to correct URLs (#80)
  constructor_io/modules/autocomplete.py
  constructor_io/modules/browse.py
  constructor_io/modules/catalog.py
  constructor_io/modules/quizzes.py
  constructor_io/modules/recommendations.py
  constructor_io/modules/search.py
Due: isort, pylint, pytest

Update docs
  docs/1.8.5/constructor_io.modules.html
  docs/1.8.5/searchindex.js
Due: none

Support Item Groups CRUDs
  constructor_io/modules/catalog.py
  tests/helpers/utils.py
  tests/modules/test_catalog_item_groups.py
Due: isort, pylint, pytest

fix lint
  tests/modules/test_catalog_item_groups.py
Due: isort, pylint, pytest

Ci 4645 python sdk item groups crud (#86)
  constructor_io/modules/catalog.py
  tests/helpers/utils.py
  tests/modules/test_catalog_item_groups.py
Due: isort, pylint, pytest

Add CODEOWNERS
  .github/CODEOWNERS
Due: none

Add CODEOWNERS (#87)
  .github/CODEOWNERS
Due: none

Add v2 item groups endpoints, add tests
  constructor_io/modules/catalog.py
  tests/helpers/utils.py
  tests/modules/test_catalog_item_groups.py
Due: isort, pylint, pytest

Increase sleep, check on item group ids, lint
  tests/modules/test_catalog_item_groups.py
Due: isort, pylint, pytest

Version bump
  constructor_io/__init__.py
Due: isort, pylint, pytest

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add CC workflow
  .github/workflows/claude-review.yml
Due: none

Add CC workflow (#90)
  .github/workflows/claude-review.yml
Due: none

Replace individual usernames with team in CODEOWNERS
  .github/CODEOWNERS
Due: none

Replace individual usernames with team in CODEOWNERS (#97)
  .github/CODEOWNERS
Due: none

build: introduce pyproject build system
  Makefile
  constructor_io/__init__.py
  constructor_io/_version.py
  pyproject.toml
  pytest.ini
  setup.py
Due: isort, pylint, pytest
