Repository Constructor-io/constructorio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pylint, pytest

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: pipenv run isort
    types: [python]

  - id: pylint
    name: pylint
    stages: [push]
    language: system
    entry: pipenv run pylint
    types: [python]
    exclude: setup.py

  - id: pytest
    name: pytest
    stages: [push]
    language: system
    entry: pipenv run pytest
    types: [python]
    pass_filenames: false

Version Bump
  setup.py
Due: isort, pytest

Add get_browse_facets and tests
  constructorio_python/modules/browse.py
  tests/modules/test_browse.py
Due: isort, pylint, pytest

Update gitignore
  .gitignore
Due: none

Rename package
  constructor_io/__init__.py
  constructor_io/constructor_io.py
  constructor_io/helpers/__init__.py
  constructor_io/helpers/exception.py
  constructor_io/helpers/utils.py
  constructor_io/modules/__init__.py
  constructor_io/modules/autocomplete.py
  constructor_io/modules/search.py
  setup.py
Due: isort, pylint, pytest

Update package name
  Makefile
  README.md
  constructor_io/constructor_io.py
  constructor_io/helpers/utils.py
  constructor_io/modules/autocomplete.py
  constructor_io/modules/search.py
  docs/_static/alabaster.css
  docs/_static/custom.css
  docs/constructor_io.helpers.html
  docs/constructor_io.html
  docs/constructor_io.modules.html
  docs/constructorio_python.helpers.html
  docs/constructorio_python.html
  docs/genindex.html
  docs/index.html
  docs/modules.html
  docs/objects.inv
  docs/py-modindex.html
  docs/search.html
  docs/searchindex.js
  pytest.ini
  source/constructor_io.helpers.rst
  source/constructor_io.modules.rst
  source/constructor_io.rst
  source/constructorio_python.helpers.rst
  source/constructorio_python.modules.rst
  source/constructorio_python.rst
  source/modules.rst
  tests/modules/test_autocomplete.py
  tests/modules/test_search.py
  tests/test_constructorio.py
Due: isort, pylint, pytest

Include modules
  setup.py
Due: isort, pytest

Update imports
  README.md
  tests/modules/test_autocomplete.py
  tests/modules/test_search.py
  tests/test_constructorio.py
Due: isort, pylint, pytest

Nocsl v1.0.0 (#24)
  .gitignore
  Makefile
  README.md
  constructor_io/__init__.py
  constructor_io/constructor_io.py
  constructor_io/helpers/__init__.py
  constructor_io/helpers/exception.py
  constructor_io/helpers/utils.py
  constructor_io/modules/__init__.py
  constructor_io/modules/autocomplete.py
  constructor_io/modules/search.py
  docs/_static/alabaster.css
  docs/_static/custom.css
  docs/constructor_io.helpers.html
  docs/constructor_io.html
  docs/constructor_io.modules.html
  docs/constructorio_python.helpers.html
  docs/constructorio_python.html
  docs/genindex.html
  docs/index.html
  docs/modules.html
  docs/objects.inv
  docs/py-modindex.html
  docs/search.html
  docs/searchindex.js
  pytest.ini
  setup.py
  source/constructor_io.helpers.rst
  source/constructor_io.modules.rst
  source/constructor_io.rst
  source/constructorio_python.helpers.rst
  source/constructorio_python.modules.rst
  source/constructorio_python.rst
  source/modules.rst
  tests/modules/test_autocomplete.py
  tests/modules/test_search.py
  tests/test_constructorio.py
Due: isort, pylint, pytest

Add get_browse_results_for_item_ids and tests
  constructorio_python/modules/browse.py
  tests/modules/test_browse.py
Due: isort, pylint, pytest

Lint
  constructorio_python/modules/browse.py
  tests/modules/test_browse.py
Due: isort, pylint, pytest

Update README.md
  README.md
Due: none

Remove travis
  .travis.yml
Due: none

Get version dynamically
  constructor_io/__init__.py
  constructor_io/constructor_io.py
  setup.py
  source/conf.py
Due: isort, pylint, pytest

Add css
  docs/_static/alabaster.css
  docs/_static/custom.css
Due: none

Add env file
  .env
  .gitignore
Due: none

Add new commands to makefile
  Makefile
Due: none

Exclude tests and add description
  setup.py
Due: isort, pytest

Lint
  constructor_io/__init__.py
Due: isort, pylint, pytest

Remove old folder
  constructorio_python/__init__.py
  constructorio_python/constructorio.py
  constructorio_python/helpers/__init__.py
  constructorio_python/helpers/exception.py
  constructorio_python/helpers/utils.py
  constructorio_python/modules/__init__.py
  constructorio_python/modules/autocomplete.py
  constructorio_python/modules/recommendations.py
  constructorio_python/modules/search.py
Due: isort, pylint, pytest

[CSL-730] Documentation and QOL improvements (#25)
  .env
  .gitignore
  .travis.yml
  Makefile
  constructor_io/__init__.py
  constructor_io/constructor_io.py
  docs/_static/alabaster.css
  docs/_static/custom.css
  setup.py
  source/conf.py
Due: isort, pylint, pytest

Update documentation
  constructor_io/__init__.py
  docs/.buildinfo
  docs/_static/documentation_options.js
  docs/constructor_io.helpers.html
  docs/constructor_io.html
  docs/constructor_io.modules.html
  docs/genindex.html
  docs/index.html
  docs/modules.html
  docs/py-modindex.html
  docs/search.html
  docs/searchindex.js
Due: isort, pylint, pytest

Add .nojekyll to fix documentation issue
  .nojekyll
Due: none

Add .nojekyll to fix documentation issue (#26)
  .nojekyll
Due: none

Move jekyll file
  docs/.nojekyll
Due: none

auto lint
  constructor_io/helpers/utils.py
  constructor_io/modules/autocomplete.py
  constructor_io/modules/browse.py
  constructor_io/modules/search.py
Due: isort, pylint, pytest

Move jekyll file (#27)
  docs/.nojekyll
Due: none

Update jekyll file
  docs/.nojekyll
Due: none

PR comments
  README.md
  setup.py
Due: isort, pytest

Pull from master
  docs/_static/pygments.css
  docs/constructorio_python.html
  docs/constructorio_python.modules.html
  docs/objects.inv
  docs/searchindex.js
  source/_static/css/custom.css
  source/conf.py
  source/constructor_io.helpers.rst
  source/constructor_io.modules.rst
  source/constructor_io.rst
  source/constructorio_python.modules.rst
  source/constructorio_python.rst
  source/index.rst
  source/modules.rst
Due: isort, pylint, pytest

Merge source from master
  source/_static/css/custom.css
  source/conf.py
  source/constructor_io.helpers.rst
  source/constructor_io.modules.rst
  source/constructor_io.rst
  source/index.rst
  source/modules.rst
Due: isort, pylint, pytest

Move to new package name
  constructor_io/constructor_io.py
  constructor_io/modules/recommendations.py
  constructorio_python/__init__.py
  constructorio_python/constructorio.py
  constructorio_python/helpers/__init__.py
  constructorio_python/helpers/exception.py
  constructorio_python/helpers/utils.py
  constructorio_python/modules/__init__.py
  constructorio_python/modules/autocomplete.py
  constructorio_python/modules/browse.py
  constructorio_python/modules/search.py
  tests/modules/test_recommendations.py
Due: isort, pylint, pytest

Update readme
  README.md
Due: none

Remove old docs
  docs/_static/pygments.css
  docs/constructorio_python.html
  docs/constructorio_python.modules.html
  docs/objects.inv
  docs/searchindex.js
  setup.py
  source/constructorio_python.modules.rst
  source/constructorio_python.rst
Due: isort, pytest

Styling
  constructor_io/modules/browse.py
  tests/modules/test_browse.py
Due: isort, pylint, pytest

[CSL 607] Python SDK Create Browse Endpoints (#22)
  Pipfile.lock
  constructor_io/constructor_io.py
  constructor_io/helpers/utils.py
  constructor_io/modules/autocomplete.py
  constructor_io/modules/browse.py
  constructor_io/modules/search.py
  tests/modules/test_browse.py
Due: isort, pylint, pytest

Browse Module
  constructor_io/__init__.py
  docs/.buildinfo
  docs/_static/documentation_options.js
  docs/constructor_io.helpers.html
  docs/constructor_io.html
  docs/constructor_io.modules.html
  docs/genindex.html
  docs/index.html
  docs/modules.html
  docs/py-modindex.html
  docs/search.html
Due: isort, pylint, pytest

Use updated helper function
  constructor_io/modules/recommendations.py
Due: isort, pylint, pytest

[CSL 608] Add Support for Recommendations (#23)
  constructor_io/constructor_io.py
  constructor_io/modules/recommendations.py
  tests/modules/test_recommendations.py
Due: isort, pylint, pytest
